body{
    padding: 40px;
}
.sticky{
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;
    background-color:white;
    padding: 40px;
    font-size: 25px;
}
.btn {
    width: 150px;
    height: 40px;;
    border: none;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
}
.btn {
    transition: transform 250ms;
}
  
.btn:hover {
    transform: translateY(-10px);
}

.btn1 {
    width: 150px;
    height: 40px;;
    border: none;
    background-color: lightyellow;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
}
#contactme{
    background-color: lightyellow;
    padding: 40px;
    font-size: 25px;
}
.welcome{
    text-align: center;
}
.portfolio{
    text-align: center;
}
#education{
    font-size: 1000px;
}
#intrests{
    font-size: 1000px;
}
#skills{
    font-size: 1000px;
}
#work{
    font-size: 1000px;
}

